.footer_shop {
    padding-top: 200px;
}

.foot_log {
    width: 307px;
    height: 122px;
    padding-bottom: 20px;
}

.foot_text {
    font-size: 27px;
    text-align: start;
    color: #64646A;
    padding-bottom: 60px;
}

.foot_h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.foot_text_sec {
    font-size: 27px;
    text-align: start;
    color: #64646A;
}

.find_us {
    display: flex;
    margin-bottom: 100px;
}

.find_us_link {
    font-size: 21px;
    text-decoration: none;
    color: black;

}

.footer_second_text {
    font-size: 40px;
    padding-bottom: 55px;

}

.footer_smal_text {
    font-size: 30px;
    color: #64646A;
}
.email {
    display: flex;
}

.phone {
    display: flex;
    padding-bottom: 40px;
}

.phone_icon {
    margin-bottom: -50px;
}
.phone_dec {
    text-decoration: none;
    margin-top: 26px;
}

.icons {
    display: flex;
}

.for {
    width: 413px;
    height: 60px;
    margin-bottom: 60px;
    border-radius: 65px;
    border: rgb(96, 96, 96);
    box-shadow: 2px 20px 30px #64646a2f;
}

.footer_under {
    border-top: 1px solid #64646A;
    display: flex;
    justify-content: space-between;
}

.copy {
    color: #64646A;
}


