.afisha {
    padding-top: 200px;
}

.afisha_text {
    font-family: 'Extra Bold';
    font-size: 64px;
    text-align: start;
    padding-top: 300px;
}



.afisha_small_text {
    font-size: 24px;
    text-align: start;
    padding-top: 30px;
    color: #64646A;
}

.afisha_btm {
    padding-bottom: 60px;
}