.container{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    margin: 0 -15px;
}

.col-1{
    flex: 0 0 8.333%;
    max-width: 8.333%;
    padding: 0 15px;
}
.col-2{
    flex: 0 0 16.666%;
    max-width: 16.666%;
    padding: 0 15px;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
.col-4{
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0 15px;
}
.col-5{
    flex: 0 0 41.666%;
    max-width: 41.666%;
    padding: 0 15px;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.col-7{
    flex: 0 0 58.333%;
    max-width: 58.333%;
    padding: 0 15px;
}
.col-8{
    flex: 0 0 66.666%;
    max-width: 66.666%;
    padding: 0 15px;
}
.col-9{
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 15px;
}
.col-10{
    flex: 0 0 83.333%;
    max-width: 83.333%;
    padding: 0 15px;
}
.col-11{
    flex: 0 0 91.666%;
    max-width: 91.666%;
    padding: 0 15px;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.offset1 {
    display: flex;
    justify-content: space-between;
}

