.share_h {
    font-size: 60px;
    /* text-align: start; */
    justify-content: center;
    margin-top: 24px;
    margin-left: 100px;
}


.share {
    padding-top: 219px;
}

.share_2 {
    padding-top: 20px;
}
